@import '../../styles.sass'

.search-form
  width: 80%
  margin: auto
  display: flex
  flex-wrap: wrap
  position: fixed
  z-index: 999
  justify-content: center
  div
    width: 100%
    border-radius: 6px
    border: 1px solid $black
    i
      padding-right: 7px
    input
      background: transparent
      border: none
      color: $black
      &:focus
        outline: none
      &::placeholder
        color: $black
        font-family: $helvetica
        font-weight: lighter

.form-wrapper
  width: 50%
  position: fixed
  z-index: 1008
  right: 0
  padding: 18px
.form-group
  display: flex
  align-items: center
  border-radius: 10px
  padding: 5px
  float: right
  width: 30px
  box-sizing: border-box
  i
    font-size: 1.5em
    cursor: pointer
    color: black
  input
    border: none
    width: 100%
    padding: 5px
    opacity: 0
    transition: 0.2s
.openInput
  width: 90%
  div
    animation-name: openSearch
    animation-duration: 1s
    animation-timing-function: ease-in-out
    animation-fill-mode: forwards
    input
      border: none
      transition-delay: 1s
      opacity: 100
      outline: none

@keyframes openSearch
	70%
		width: 100%
		box-shadow: none
	100%
		width: 100%
		box-shadow: 0px 3px 6px rgba(0,0,0,0.16)
		background: white

#map
  width: 100%
  height: 100%


.search-result
  display: flex
  flex-wrap: nowrap
  overflow-x: auto
  position: fixed
  z-index: 900
  top: 13%
  margin: 0
  padding: 0
  width: 100%
  &::-webkit-scrollbar
    display: none
  li
    flex: 0 0 auto
    display: flex
    border-radius: 5px
    width: 265px
    height: 79px
    box-sizing: border-box
    background: $white
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
    padding: 15px
    align-items: center
    margin: 0 20px
.user-info
  width: 75%
  a
    text-decoration: none
    color: black
    font-family: 'roboto'
    font-weight: 700
  p
    margin: 0
    font-family: $helvetica
.user-thumb
  width: 25%
  img
    width: 100%
    height: 58px
    border-radius: 100%
