<div class="container">
  <!-- TODO: only Show posts of friends -->
  <div class="post-card" *ngFor="let post of posts">
    <div class="poster-wrap">
      <div>
        <img src="{{post._embedded['author']['0'].acf.avatar}}">
      </div>
      <p>Posted by <a routerLink="/friends/{{post._embedded['author']['0'].id}}">{{post._embedded['author']['0'].name}}</a></p>
    </div>
    <div class="post-info-wrapper">
      <img src="{{post._embedded['wp:featuredmedia']['0'].source_url}}">
      <div class="post-description">
        <span [innerHTML]="post.content.rendered | trustHtml"></span>
      </div>
      <div class="meta-box">
        <!-- TODO: Add like functionality -->
        <i class="far fa-heart" (click)="checkLike(post.acf.likes, post.id)"></i> <span *ngIf="post.acf.likes" >{{post.acf.likes.length}}</span> Likes
        <i class="far fa-comment-alt"></i> <span *ngIf="post._embedded['replies']">{{post._embedded['replies'][0].length}}</span> comments
      </div>
    </div>
  </div>
</div>
