<div class="container">
  <div class="post-card" *ngFor="let post of posts">
    <!-- Order by last created -->
    <!-- TODO: Add the hashtag -->
    <div class="poster-wrap">
      <div>
        <img src="{{post._embedded['author']['0'].acf.avatar}}">
      </div>
      <p>Posted by <a routerLink="/friends/{{post._embedded['author']['0'].id}}">{{post._embedded['author']['0'].name}}</a></p>
    </div>
    <div class="post-info-wrapper">
      <img src="{{post._embedded['wp:featuredmedia']['0'].source_url}}">
      <div class="post-description">
        <span [innerHTML]="post.content.rendered | trustHtml"></span>
        <span class="post-hashtag" *ngIf="post._embedded['wp:term']">#{{post._embedded['wp:term']['0']['0'].name}}</span>
      </div>
      <div class="meta-box">
        <div>
          <i id="heart{{post.id}}" class="far fa-heart" (click)="updateLike(post.acf.likes, post.id)"></i> <span *ngIf="post.acf.likes" >{{post.acf.likes.length}}</span> Likes
          <i class="far fa-comment-alt" routerLink="{{post.id}}/comments"></i> <span *ngIf="post._embedded['replies']">{{post._embedded['replies'][0].length}}</span> comments
        </div>
        <span class="post-date"> {{post.date | date: "dd/MM/yy"}} </span>
      </div>
    </div>
  </div>
</div>
<a routerLink="/weeklyhashtag/add" class="addPostLink">
  <i class="fa fa-plus"></i>
</a>
